<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="test/config/bootstrap.php"
         cacheDirectory=".phpunit.cache">
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Zxcvbn-PHP">
      <directory suffix="Test.php">test/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="build/logs/junit.xml"/>
  </logging>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <groups>
    <exclude>
      <group>attack</group>
    </exclude>
  </groups>
</phpunit>
